@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.graph_label {
  font-family: 'PT Sans', sans-serif;
  user-select: none;
  font-weight: bold;
  font-size: 1.2rem;
  fill: #c2c2c2;
}

#container {
  width: 750px;
  height: 750px;
}

#node-label {
  position: absolute;
  background-color: white;
  border: 3px solid black;
  transform: translate(-100%, -2px);
  padding: 0.3rem 0.8rem;
}
